/* common shared styles */
body{
  font-family: Merriweather
  
}
/* banner related styles */

.banner{
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);

}


.banner-content{
   text-align: center;
   align-items: center;
   justify-content: center;
   padding-top: 150px;
   
  }

.banner-greeting{
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  margin-top: 0px;
}

.banner-text{
   text-align: center;
   font-size: 62px;
   font-weight: 800;
   color: #FFF;
   margin-top: 20px;
   
}


/* discount section styles */
.discount{
  color: #F00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-top: 130px;
}

.discount-greeting{
  color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
margin-top: 45px;
}

.discount-title{
  color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}

.discount-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50% ;
  margin-top: 25px;
}

/* welcome section styles */
.welcome{
  display: flex;
}

.welcome-content{
  background-image: url(../B9A1-New-Year-New-Mission/resources/Vectorrr.png);
  background-repeat: no-repeat;
  height: 600px;
  margin:50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.welcome-container{
   margin-left: 120px;
}

 .welcome-title{
  color: #FFF;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding-left: 126px 550px 298px 126px;
 }

 .welcome-text{
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-weight: 400;
 }

 .welcome-button{
  text-align: center;
  font-size: 20px;
  font-weight: 700;  
 }

 .welcome-img{
  width: 319.83px;
  height: 464.662px;
  padding: 50px 10px 15px 20px;
  justify-content: center;
  align-items: center;
  
 }



 .hotel{
  margin-top: 120px;

 }

 .hotel-section{
  
  background-color:antiquewhite ;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 50px;
  padding: 100px px 214px;
 }

 .hotel-button{
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F00;
  margin-top: 48   px;
  color: #FFF;
 }

 /* offer section styles */
 .coming-soon{
   display: flex;
   margin: 140px;
 }

 .coming{
  margin: 20px;
  padding: 10px;
 }

 .offer-title{
   color: #F00;
   text-align: center;
   font-size: 24px;
   font-weight: 500;
 }

.offer-head{
  text-align: center;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}

.offer-text{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-weight: 400;
}

.offer-img{
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #F00;
}

.year{
  color: #F00;
  font-size: 48px;
  font-weight: 700;
}

.year-text{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.year-img{
  width: 140px;
  height: 140px;
}

/* holiday section styles */
.images img{
    width: 30%;
    min-height: auto;
}

.flower-img{
    margin-left: 12px;
    border: 2px solid red;
    width: 100%;
    transform: rotate(-45deg);
}

.percentage{
    padding-bottom: _4px;
    margin-bottom: _4px;
}

.man-image{
    position: relative;
    bottom: _4px;
    width: 430px;
    height: 430px;
   
}

.holiday{
    text-align: center;
}

.holiday-head{
    color: black;
    font-size: 24px;
}

.holiday-title{
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}

.holiday-text{
  color: rgba(7, 2, 17, 0.60);
  text-align: center
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; 
}

/* portfilio section styles */
.portfolio-head{
  color: #F00;
  font-size: 24px;
  font-weight: 500;
}
.portfilio-title{
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}

.portfolio-text{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

 thead{
  
  width: 424px;
  height: 450px;
}

/* subscribe section styles */
.subscribe{
   padding-top: 150px;
   margin-top: 100px;
   text-align: center;
   width: 1320px;
   height: 616px;
   border-radius: 16px;
   background: rgba(255, 0, 0, 0.05);
}

.subscribe-title{
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe-text{
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe-button{
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;  
}

.gmail{
  width: 648px;
  height: 72px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #FFF;
  color: rgba(7, 2, 17, 0.30);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

/* footer section styles */

